
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../comunes/components/headers-component") -%>
</head>
<body>
    
    <%- include("../comunes/components/sidenav-component") -%>
    <main >
        <h4 class="my-basic">Producto</h4>
        <%- include("../producto/components/producto-form-component")  -%> 
        <img width="100" height="100" src="/api/v1/file?filePath=temp\imagen-1668556592396-732542728.jpg" alt="" srcset="">
    </main>
    
   
    <%- include("../comunes/components/footer-component") -%>
</body>

</html>